.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.mt-2{
    margin-top: 0.5rem !important;
}

.logo-img{
    width: 70px;
    height: 40px;
    margin-left: 12px;
    margin-bottom: 2px;
}

.app-header{
    position: relative;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}

.row-flex{
    display: flex;
}

.view-as-dropdown{
    min-width: 425px !important;
    background-color: white;
}

.dropdown-toggle{
    border-radius: 0.25rem !important;
    text-align: center !important;
    margin-top: 15px;
    border-color: #0a2119;
    font-weight: bold;
    font-size: medium;
    color: #0d3811;
    background-color: white;
    position: relative;
    text-align: center;
    border-style: none;
}

.dropdown-toggle-caret{
    float: right !important;
}

.bar-styling{
    width: 50rem;
    background: white;
    border-radius: 0.25rem !important;
    border-style: groove;
    border-color: #0a2119;
    padding : 0.5rem;
    max-height: 25px;
}

.margin-right-16px{
    margin-right: 20px;
}

.text-color{
    color: #0d3811;
}

.footer-fix{
    position: relative;
    bottom: 0px;
    top: 238px;
    box-sizing:border-box;
    margin:0;
    padding:0;      
    background:white;
}

.login-button{
    padding : 1rem;
    border-radius: 0.5rem !important;
    font-weight: bold;
    font-size: medium;
    color: #0d3811;
    background-color: white;
    max-height: 50px;
    text-align: center;
    border-color: #0a2119;
    margin-right: 10px;
    max-width: 80px;
}

.padding{
    padding: 20px;
}