.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.mt-2{
    margin-top: 0.5rem !important;
}

.logo-img{
    width: 70px;
    height: 40px;
    margin-left: 12px;
    margin-bottom: 1px;
}

.app-header{
    position: relative;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}

.row-flex{
    display: flex;
}

.view-as-dropdown{
    min-width: 200px !important;
    background-color: white;
    cursor: pointer;
}

.dropdown-toggle{
    height: 20px;
    border-radius: 0.25rem !important;
    text-align: center !important;
    margin-top: 15px;
    border-color: #0a2119;
    font-weight: bold;
    font-size: medium;
    color: #0d3811;
    background-color: white;
    position: relative;
    text-align: center;
    border-style: none;
    cursor: pointer;
}

.dropdown-toggle-caret{
    float: right !important;
    

}

.bar-styling{
    width: 50rem;
    background: white;
    border-radius: 0.25rem !important;
    border-style: groove;
    border-color: #0a2119;
    padding : 0.5rem;
    max-height: 25px;
}

.margin-right-16px{
    margin-right: 20px;
    cursor: pointer;
}

.margin-left-16px{
    margin-left: 70px;
}

.text-color{
    color: #0d3811;
}

.footer-fix{
    position: relative;
    bottom: 0px;
    top: 20px;
    box-sizing:border-box;
    margin:0;
    padding:0;      
    background:white;
}

.login-button{
    padding : 1rem;
    border-radius: 0.5rem !important;
    font-weight: bold;
    font-size: medium;
    color: #0d3811;
    background-color: white;
    max-height: 50px;
    text-align: center;
    border-color: #0a2119;
    margin-right: 10px;
    max-width: 80px;
    cursor: pointer;
}

.padding{
    padding: 20px;
}

.form-slider{
    color:#0a2119;

}


.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #01052c;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }